marquee {
  background: #060808;
  width: 100%;
  padding: 3px;
  color: #fff;
  font-size: 17px;
  font-family: 'proxima nova', 'open sans', 'Helvetica', sans-serif;
}

.marquee span.spacer {
  display: inline-block;
  width: 500px; /* Ajusta el ancho según el espacio deseado */
}

.tw {
  width: 20px;
  height: auto;
  padding-right: 8px;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.comando {
  color: #7c54b8;
}

.comandoverde {
  color: #27a25d;
}